.image-container {
  display: block;
  flex: none;
}

.full {
  height: 100%;
  width: 100%;
}

.image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.editor {
  margin-left: 0px;
}

.option-column {
  margin-right: 42px;
}
