.image-container {
    display: block;
    flex: none;
}

.full {
    height: 100%;
    width: 100%;
}

img.image-container {
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.size-option {
    display: flex;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* Other than hidden -> scroll bar ? */
    overflow: hidden;
    height: 100%;
}

.left-overlay {
    left: 0;
}

.right-overlay {
    right: 0;
}

.top-overlay {
    top: 0;
}

.bottom-overlay {
    bottom: 0;
}