<div class="editor-row">
  <div class="panel-options-group">
    <div class="panel-options-group__header">
      <span class="panel-options-group__title">General</span>
    </div>
    <div class="panel-options-group__body">
      <div class="gf-form">
          <label class="gf-form-label width-8">Base URL</label>
          <input type="text" class="gf-form-input min-width-10 width-30" ng-model="ctrl.baseUrl" ng-change="ctrl.render()">
          <label class="gf-form-label width-8">Suffix</label>
          <input type="text" class="gf-form-input max-width-10" ng-model="ctrl.suffix" ng-change="ctrl.render()">
      </div>
    </div>
  </div>
</div>
